*{
    margin: 0;
    padding: 0;
}
.btn{
    background-color: rgb(212, 73, 73);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    margin-top: 25px;
   
}
#container{
    text-align: center;
}
#container .banner{
    background-image: url(images/donation-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 250px;
    padding-bottom: 470px;
    padding-top: 200px;
    height: 30px;
    
}
#container .banner h1{
    color: crimson;
    font-size: 60px;
    font-weight: 100px;
    font-family: 'Roboto', sans-serif;
    padding: 0 30px;
    
}
#container .banner h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    color: crimson;
}
#amount{
    margin: 100px;
    padding: 10 80px;
}
#amount h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100px;
    padding-bottom: 15px;
}
#amount p{
    padding: 0 260px;
    color: rgb(110, 100, 100);
    font-family: 'Roboto', sans-serif;
    font-weight: 5px;
}
#amount_boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 200px;
}
#amount_boxes .box{
    padding: 30px 20px;
    font-size: 30px;
    border:none;
    border-radius: 5px;
    color: rgb(104, 98, 98);
    background-color: rgb(248, 241, 241);
    font-family: 'Roboto', sans-serif;
}
#amount_boxes .indicated_box{
    padding: 30px 20px;
    font-size: 30px;
    border:2px solid crimson;
    border-radius: 5px;
    color: brown;
    background-color: rgb(238, 223, 223); 
    font-family: 'Roboto', sans-serif;
}
#amount .other_amount{
    color: rgb(192, 192, 184);
    margin-bottom: 15px;
    
}
hr{
    width: 70%;
    margin: auto;
}
#donate_plan{
    margin: 100px;
    padding: 10 80px;
}
#donate_plan h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100px;
    padding-bottom: 15px;
}
#donate_plan p{
    padding: 0 260px;
    color: rgb(110, 100, 100);
    font-family: 'Roboto', sans-serif;
    font-weight: 5px;
}
#donate_boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#donate_boxes .box1{
    border: none;
    background-color: rgb(169, 223, 205);
    margin: 10px;
    padding: 30px 10px;
}
#donate_boxes .box2{
    border: none;
    background-color: rgb(245, 208, 208);
    margin: 10px;
    padding: 30px 10px;
}
#donate_boxes .box3{
    border: none;
    background-color: rgb(169, 223, 205);
    margin: 10px;
    padding: 30px 10px;
}
#donate_boxes .box_text{
    padding: 10px;
}
#other_donations{
    margin: 100px;
    padding: 10 80px;
}
#other_donations h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100px;
    padding-bottom: 15px;
}
#other_donations .other_boxes{
     display: flex;
     justify-content: space-around;
}
#other_donations .other_boxes .box{
    border: none;
    background-color: rgb(248, 244, 244);
    margin: 10px;
    padding: 30px 10px;
}
#my_update 
{
    margin: 100px;
    padding: 10 80px;
}
#my_update h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100px;
    padding-bottom: 15px;
}
#my_update p{
    padding: 0 260px;
    color: rgb(110, 100, 100);
    font-family: 'Roboto', sans-serif;
    font-weight: 5px;
}
#email{
    background-color: papayawhip;
    padding: 60px 30px;
    width: 50%;
    margin: 35px auto;
}
#email button{
    padding: 10px 40px;
    border: none;
    background-color:  rgb(212, 73, 73);
    color: aliceblue;
}
#email input{
    padding: 10px 40px;
    color: rgb(202, 202, 202);
    background-color: rgb(219, 213, 213);
    border: none;
}
footer{
    background-color: black;
    padding: 25px 50px;
}
footer h3{
    color: brown;
    font-family: 'Lobster', cursive;
   font-weight: 400;
    padding: 20px 10px;
    font-size: 30px;
}
footer p{
    color: aliceblue;
}